<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <link rel="stylesheet" type="text/css" href="../plugins/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../plugins/vue/element/element.css">
    <link rel="stylesheet" type="text/css" href="../css/personInfoMgr.css">
</head>
<body>
<!-- 密码修改 -->
<div id="container" class="container" style="padding-top: 50px">
    <el-form label-position="right" label-width="80px">
        <el-form-item label="原密码">
            <el-input v-model="password_old" show-password style="width: 250px" placeholder="原密码"></el-input>
        </el-form-item>
        <el-form-item label="新密码">
            <el-input v-model="password_new" show-password style="width: 250px" placeholder="新密码"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="modifyPassword">确定</el-button>
            <el-button type="primary" @click="closeLayer">取消</el-button>
        </el-form-item>
    </el-form>
</div>
<script type="text/javascript" src="../plugins/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript" src="../plugins/vue/vue.js"></script>
<script type="text/javascript" src="../plugins/vue/element/element.js"></script>
<script type="text/javascript" src="../js/ajaxUtil.js"></script>
<script type="text/javascript" src="../js/modifyPassword.js"></script>
</body>
</html>