<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.services.dpidcalarm.dataquery.dao.DataQureyMapper" >
    <select id="queryRealTimeData" resultType="String">
        select last_value from indicator where type=#{type}
    </select>
    
    <select id="queryHisData" resultType="com.services.dpidcalarm.dataquery.bean.IndicatorHisData">
        select a.id id,b.name,b.type,a.idc_value value,a.collect_time time
          from indicator_data a left join indicator b on a.idc_id=b.id
          where b.type=#{type} and a.collect_time between #{begin} and #{end}
    </select>

    <select id="queryDetail" resultType="java.util.HashMap">
        select * from ${tableName} where indicator_data_id = #{indicatorDataid}
    </select>

</mapper>