<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.services.dpidcalarm.sysManager.dao.IndicatorMgrMapper" >
    <select id="queryAllIndicator" resultType="com.services.dpidcalarm.sysManager.bean.Indicator">
        select * from indicator_type
    </select>
    <select id="queryIndicatorAttr" resultType="com.services.dpidcalarm.sysManager.bean.IndicatorAttr">
        select a.*,b.name idcName from indicator_attr a left join indicator_type b on a.idc_code=b.code
    </select>
    <!-- 插入指标 -->
    <insert id="addIndicator" parameterType="com.services.dpidcalarm.sysManager.bean.Indicator">
        insert into indicator_type (`code`,`name`,`cycle`,`desc`) values (#{code},#{name},#{cycle},#{desc})
    </insert>
    <!-- 更新指标 -->
    <update id="modifyIndicator" parameterType="com.services.dpidcalarm.sysManager.bean.Indicator">
        update indicator_type set `name` = #{name},`cycle`=#{cycle},`desc`=#{desc} where `code`= #{code}
    </update>
</mapper>