/*已发送短信查询css*/
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*VUE*/
[v-cloak]{
    display: none !important;
}
.container{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.condition-container{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    top:0;
    left: 0;
    padding-left: 10px;
}

.table-container{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top:60px;
    bottom: 45px;
    padding: 2px;
}

.page-container{
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.add-person-info{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
